<div class="island-wrapper">
  <div class="island-map">

    <!-- Routes entre quiz -->
    <svg class="routes" viewBox="0 0 600 600">
      <line x1="120" y1="140" x2="220" y2="220" />
      <line x1="220" y1="220" x2="330" y2="180" />
      <line x1="330" y1="180" x2="400" y2="270" />
      <line x1="400" y1="270" x2="260" y2="400" />
    </svg>

    <!-- Quiz -->
    <div class="quiz" style="top: 130px; left: 110px;">Q1</div>
    <div class="quiz" style="top: 210px; left: 210px;">Q2</div>
    <div class="quiz" style="top: 170px; left: 320px;">Q3</div>
    <div class="quiz" style="top: 260px; left: 390px;">Q4</div>
    <div class="quiz" style="top: 390px; left: 250px;">Q5</div>

    <!-- Étudiants -->
    <div class="student" style="top: 120px; left: 150px;">
      <img src="https://i.pravatar.cc/40?img=1" />
    </div>
    <div class="student" style="top: 220px; left: 190px;">
      <img src="https://i.pravatar.cc/40?img=2" />
    </div>
    <div class="student" style="top: 160px; left: 350px;">
      <img src="https://i.pravatar.cc/40?img=3" />
    </div>
    <div class="student" style="top: 280px; left: 420px;">
      <img src="https://i.pravatar.cc/40?img=4" />
    </div>
    <div class="student" style="top: 410px; left: 270px;">
      <img src="https://i.pravatar.cc/40?img=5" />
    </div>

  </div>
</div>
