<div class="container">
  <!-- Barre latérale permanente -->
  <aside class="sidebar">
    <h2>QUIZ MASTER</h2>
    <nav>
      <a routerLink="/accueil"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      <a routerLink="/profil"><i class="fas fa-user"></i> My Profile</a>
      <a routerLink="/Classes"><i class="fas fa-chalkboard-teacher"></i> My Classes</a>
      <a routerLink="/quiz-builder"><i class="fas fa-question-circle"></i> My Quizzes</a>
      <a routerLink="/Island"><i class="fas fa-user-graduate"></i> Students</a>
      <a routerLink="/Calendar"><i class="fas fa-calendar-alt"></i> Calendar</a>
      <a routerLink="/Message"><i class="fas fa-envelope"></i> Messages</a>
      <a routerLink="/groupes"><i class="fas fa-users"></i> My Groups</a>
      <a href="/login"><i class="fas fa-sign-out-alt"></i> Log Out</a>
    </nav>
  </aside>

  <!-- Contenu qui change selon la route -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
