<div *ngFor="let notif of notifications; let i = index">
  <div class="message" [ngClass]="notif.type">
    <span class="icon">
      <ng-container [ngSwitch]="notif.type">
        <i *ngSwitchCase="'success'" class="fas fa-check-circle"></i>
        <i *ngSwitchCase="'error'" class="fas fa-exclamation-circle"></i>
        <i *ngSwitchCase="'info'" class="fas fa-info-circle"></i>
        <i *ngSwitchCase="'warning'" class="fas fa-exclamation-triangle"></i>
        <i *ngSwitchCase="'primary'" class="fas fa-star"></i>
        <i *ngSwitchDefault class="fas fa-comment"></i>
      </ng-container>
    </span>
    <div class="content">
      <strong>{{ notif.title }}</strong>
      <p>{{ notif.text }}</p>
    </div>
    <button class="close-btn" (click)="close(i)">×</button>
  </div>
</div>
