<header>
  <h1>Create Your Account! </h1>
</header>

<div class="container">
  <div class="section">
    <form class="create-account">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>

      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>

      <label for="avatarUpload">Upload an image:</label>
      <input type="file" id="avatarUpload" name="avatarUpload" accept="image/*">

      <label>Gender:</label>
      <div class="gender-group">
        <label>
          <input type="radio" id="male" name="gender" value="Male" required>
          Male
        </label>
        <label>
          <input type="radio" id="female" name="gender" value="Female" required>
          Female
        </label>
      </div>

      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" placeholder="name@example.com" required>

      <button type="submit" onclick="playSound('click')">Create My Account</button>
    </form>
  </div>
</div>
