<div class="login-container">
  <h2>Login</h2>

  <form>
    <div class="form-group">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Email address" required />
    </div>
    <div class="form-group">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" required />
    </div>

    <a class="forgot" href="#">Forgot your password?</a>

    <button class="btn-primary" type="submit">Sign In</button>
  </form>

  <div class="divider">or</div>

  <button type="button" class="btn-google">
    <img
      src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
      alt="Google"
    />
    Continue with Google
  </button>

  <p class="signup-link">
    Don't have an account? <a routerLink="/inscription">Create an account</a>
  </p>
  
</div>
