<div class="container">
  <h2>List of Groups and Students</h2>

  <div class="group" *ngFor="let group of groups">
    <h3>{{ group.name }}</h3>
    <ul>
      <li *ngFor="let student of group.students; let i = index">
        {{ student }}
        <span class="actions">
          <i class="fas fa-trash" (click)="removeStudent(group, i)"></i>
        </span>
      </li>
    </ul>

    <div class="add-student-form">
      <input
        type="text"
        [(ngModel)]="newStudent[group.name]"
        placeholder="Student name"
      />
      <button (click)="addStudent(group)">Add Student</button>
    </div>
  </div>
</div>
