<div class="simple-form-container">
  <h2>Add Event</h2>

  <form class="simple-form">
    <label for="title">Title</label>
    <input id="title" type="text" placeholder="Titre de l'événement" />

    <label for="description">Description</label>
    <textarea id="description" placeholder="Décrivez votre événement..."></textarea>

    <label for="date">Date</label>
    <input id="date" type="date" />

    <label for="location">Place</label>
    <input id="location" type="text" placeholder="Ex: Tunis" />

    <label for="price">Price(DT)</label>
    <input id="price" type="number" placeholder="Ex: 25" />

    <label for="nbPlaces">nbr Place</label>
    <input id="nbPlaces" type="number" placeholder="Ex: 100" />

    <label for="imageUrl">Image (URL)</label>
    <input id="imageUrl" type="text" placeholder="https://exemple.com/image.jpg" />

    <button type="button" class="btn">add event</button>
  </form>
</div>
